body {
  width: 1280px;
  height: 1715px;
  opacity: 1;
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', 'Arial';
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  font-weight: 400;
}

.fon {
  position: absolute;
  width: 790px;
  height: 697px;
  top: 0px;
  left: 85px;
  background-image: url('images/fon.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  z-index: -1;
  transform: rotate(0deg);
}

.hero {
  padding: 220px 217px 110px;
}

.hero-title{
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 70px;
  line-height: 78px;
  text-align: center;
}

.products {
  width: 1110px;
  height: 1191px;
  position: absolute;
  top: 400px;
  left: 85px;
  border: 0px;
  opacity: 1;
  box-sizing: border-box;
  margin-bottom: 116px;
}

.products-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
}


.card-container {
  width: 340px;
  height: 573px;
  padding: 25px;
  background-color: #F7F7FA;
  box-shadow: 2px 2px 10px 0px rgba(81, 80, 118, 0.1);
}

.product-category {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #A5A3B9;
  margin-top: 30px;
  margin-bottom: 5px;
  display: block;
}

.product-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 5px;
}

.product-description {
  margin-bottom: 15px;
}

.product-compound {
  margin-bottom: 5px;
  list-style: circle;
}

.product-compound-item {
  margin-left: 14px;
}

.product-price-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  line-height: 24px;
}

.product-price-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-price {
  font-size: 20px;
  line-height: 24px;
}